@model CRM.Models.Contacto

@{
    ViewData["Title"] = "Details";
    Cliente cliente = (Cliente)ViewData["Cliente"];
    Usuario usuario = (Usuario)ViewData["Usuario"];
    Provincium provincia = (Provincium)ViewData["Provincia"];
    Canton canton = (Canton)ViewData["Canton"];
    Distrito distrito = (Distrito)ViewData["Distrito"];
    Zona zona = (Zona)ViewData["Zona"];
    Sector sector = (Sector)ViewData["Sector"];
    TipoContacto tipoContacto = (TipoContacto)ViewData["TipoContacto"];
    Estado estado = (Estado)ViewData["Estado"];
    IEnumerable<Tarea> tareas = (IEnumerable<Tarea>)ViewData["tareas"];
    IEnumerable<Actividad> actividades = (IEnumerable<Actividad>)ViewData["actividades"];
}

<h1>Detalles de contacto</h1>

<div>
    <hr />
    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Motivo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaCliente1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CedulaCliente1.CedulaCliente)
            @cliente.Cedula (@cliente.Nombre @cliente.Apellido1 @cliente.Apellido2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaUsuarioNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CedulaUsuarioNavigation.Cedula)
            (@usuario.Nombre @usuario.Apellido1 @usuario.Apellido2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DireccionNavigation.Id)
            (@Model.DireccionNavigation.IdProvinciaNavigation.Nombre, @Model.DireccionNavigation.IdCantonNavigation.Nombre, @Model.DireccionNavigation.IdDistritoNavigation.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoNavigation)
        </dt>
        <dd class="col-sm-10">
            @estado.Nombre
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdSectorNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdSectorNavigation.Id)
            (@sector.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdZonaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdZonaNavigation.Id)
            (@zona.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoContactoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoContactoNavigation.Id)
            (@tipoContacto.Tipo)
        </dd>
    </dl>
</div>

<hr />
    <h4>Actividades del contacto</h4>
    <div>
        <a class="dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Asociar nueva actividad
          </button>
        </a>
        <ul class="dropdown-menu">
            @foreach (Actividad item in actividades) {
                <li>
                    <a class="dropdown-item" asp-controller="Contacto" asp-action="AsociarActividad" asp-route-actividad="@item.Id" asp-route-contacto="@Model.Id">
                        @Html.DisplayFor(modelItem => item.Id) | 
                        @Html.DisplayFor(modelItem => item.Descripcion)
                        @Html.DisplayFor(modelItem => item.FechaFinalizacion)
                    </a>
                </li>
            }
        </ul>
    </div>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdActividads.First().Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdActividads.First().Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdActividads.First().FechaFinalizacion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (Actividad item in Model.IdActividads)
            {
                item.IdContactos.Append(Model);
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaFinalizacion)
                    </td>
                    <td>
                    <a asp-controller="Contacto" asp-action="EliminarActividad" asp-route-actividad="@item.Id" asp-route-contacto="@Model.Id" class="btn btn-outline-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
<hr />
    <h4>Tareas del contacto</h4>
    <div>
        <a class="dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Asociar nueva tarea
          </button>
        </a>
        <ul class="dropdown-menu">
            @foreach (Tarea item in tareas) {
                <li>
                    <a class="dropdown-item" asp-controller="Contacto" asp-action="AsociarTarea" asp-route-tarea="@item.Id" asp-route-contacto="@Model.Id">
                        @Html.DisplayFor(modelItem => item.Id) | 
                        @Html.DisplayFor(modelItem => item.Descripcion)
                        @Html.DisplayFor(modelItem => item.FechaFinalizacion)
                    </a>
                </li>
            }
        </ul>
    </div>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdTareas.First().Id)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.IdTareas.First().Descripcion)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.IdTareas.First().FechaFinalizacion)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.IdTareas.First().FechaCreacion)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.IdTareas.First().Estado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.IdTareas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaFinalizacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                    <a asp-controller="Contacto" asp-action="EliminarTarea" asp-route-tarea="@item.Id" asp-route-contacto="@Model.Id" class="btn btn-outline-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
<hr />
<div>
    <a asp-action="Index" class="btn btn-secondary">Ver todos los contactos</a>
</div>
