@model IEnumerable<CRM.Models.Direccion>

@{
    ViewData["Title"] = "Index";
}

<h1>Direcciones</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCantonNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDistritoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProvinciaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Direccion item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCantonNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDistritoNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProvinciaNavigation.Nombre)
            </td>
        </tr>
}
    </tbody>
</table>
